.carousl {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .m-cards {
    display: flex;
    
    scroll-behavior: smooth;
    margin-top: 4rem;
    margin-left: 9.9rem;
    width: 100%;
    transition: transform 0.9s ease-in-out; 
  }

  
  .m-card {
    background-color: hsl(0, 0%, 100%);
    height: 23rem;
    width: 17rem !important;
    flex: 0 0 17rem;
    box-shadow: #00d0ff3d 0px 3px 8px;
    margin: 0 0.9rem;
    transition: transform 0.9s ease-in-out; 
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  
  .c-img {
    height: 244px;
    width: 244px;
    background-color: rgb(212, 248, 255);
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .c-head {
    margin-left: 15px;
    font-size:smaller;
    padding: 6px;

    margin-top: 8px;

  }
  
  .slot {
    display: flex;
    flex-direction: row;
    border: 0.5px solid #89cdfb;
    width: 90px;
    height: 29px;
    border-radius: 5px;
    background:#f0f9ff;
  }
  
  .slot-p {
    color: black;
    font-size: 12px;
    padding-top: 4px;
  }
  
  .slots {
    display: flex;
    flex-direction: row;
  }
  
  .card-loc {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
  }
  
  .loc-para {
    color: #383838;
    font-size: small;
    padding-top: 1px;
    
  }
  
  .loc-para-cost {
    color: red;
    padding-top: 2px;
    padding-left: 69px;
    font-size: smaller;
  }
  
  .carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .carousel-button.left {
    left: 132px;
    top: 231px;
    background-color: #8bfcfc;
    height: 1rem !important;
    width: 3rem;
    border-radius: 143px;
    padding-bottom: 57px;
  }
  
  .carousel-button.right {
    right: 132px;
    top: 231px;
    background-color: #8effff;
    height: 1rem !important;
    width: 3rem;
    border-radius: 143px;
    padding-bottom: 57px;
  }
  .main-head{
    margin-top: 10rem;
    text-align: center;
    font-size: large;
  }
  .para-main{
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 16px;
  }
  .bg-cities{
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  background: linear-gradient(180deg, #d1faff, #fff 100%) !important;
  margin-top: 2rem;

  }
  .main-city-head{
    margin-top: 2rem;
    text-align: center;
    padding-top: 3rem;
    font-size: large;
    
  }
  .ct-imgs{
    height:6rem;
    width: 6rem;
    border-radius:6px;
   
  }
  .ct-name{
    padding-top: 9px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 42px;
    color: #0d5bd3;
  }
  .plot-no{
    padding-left: 40px;
    padding-top: 18px;
    color: #4b4b4b;
    font-size: 12px;
  }
  .city-card{
    margin-left: 7rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
  }
  .row-cards{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
  }