.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-card {
    background: #f0f4f8;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #e57373;
    border-radius: 50%;
    width: 40px;
  }
  
  .agent-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .agent-image {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    margin-right: 10px;
    background: #c5e2ff;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    width: 50%;
    padding: 10px;
    background: #4a5cfe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
  }
  .share-contact{
    color: black;
    font-size: larger;
  }